* {
    margin: 0px;
    padding: 0px;
}

html,
body,
#root {
    height: 100%;
}

body {
    font-family: sans-serif;
}

header nav {
    display: flex;
    /* color: white !important; */
    /* justify-content: space-between; */
    /* align-items: right; */
    background-color: #999;
    padding: 9px 3%;
    /* text-decoration: none!important; */
}

header nav a:not(:last-child){
    margin-right: 20px;
    color:#fff;
    text-decoration: none;
}

/* header h3 {
    color: #fff;
    text-decoration: none;
} */

main {
    padding: 25px 3%;
}

main h1.main-header {
    text-align: center;
    margin: 15px;
    background-color:red;

}

main p {
    max-width: 60%;
    text-align: center;
    margin: 0 auto;
    line-height: 1.8;
}


button {
    margin: 10px;
    align-items: center;
}

h2 {
    margin-left: 0px;
    text-align:center;
    background-color:aqua;
}

footer h3 {
    justify-content: center;
}